.city {
  display: flex;
  flex-grow: 1;
  width: 260px;
  height: 350px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  border: 1px solid rgba(62, 62, 62, 0.1);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: #ffe7ee;
}

.city:nth-child(1) {
  width: 89%;
}

.city-weather-info {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 30%;
  flex-direction: column;
}

.city-state-info {
  text-transform: lowercase;
  width: 80%;
  font-size: 14px;
  color: #ffe7eeda;
  display: flex;
  margin-top: 20px;
}

.city-the-temp {
  font-size: 30px;
  font-weight: 700;
}

.city:nth-child(1) .city-the-temp {
  font-size: 50px;
}

.sep {
  border-left: 2px solid #ffe7ee;
  margin-left: 8px;
  margin-right: 8px;
}

.city-about-info {
  text-align: right;
}

.city-state {
  align-self: flex-start;
  width: 15vw;
  margin-right: 20px;
}

.city:nth-child(1) .city-state {
  width: 60%;
}

.city-name {
  font-size: 20px;
}

.city:nth-of-type(1) .city-name {
  font-size: 50px;
}

.city:nth-child(1n) {
  background-color: rgba(0, 0, 0, 0.1);
}

.city:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.2);
}

.city-type {
  font-size: 15px;
}

.gps-cord {
  font-size: 10px;
}

@media only screen and (max-width: 700px) {
  .city {
    width: 160px;
  }
}
