.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.current-tab {
  font-size: 20px;
  color: #ffe7ee;
}

.header-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.fa-icon {
  font-size: 25px;
  color: #ffe7ee;
  background-color: transparent;
  margin: 5px 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 1px;
}

.search-input {
  color: #ffe7ee;
  padding-left: 10px;
  font-weight: 700;
  font-size: 15px;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 25px;
  opacity: 1;
  background-color: transparent;
  width: 30px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  transition: width 200ms ease-in-out;
}

.search-input:valid,
.search-input:focus {
  border: 2px solid #ffe7ee;
  width: 200px;
  margin-left: -170px;
  cursor: text;
  background-image: none;
}
