.footer {
  position: absolute;
  margin-top: 40px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  background-color: rgba(231, 70, 130, 0.7);
  line-height: 2rem;
}

.hearts {
  padding: 5px;
  color: red;
  font-size: 20px;
}

.coffee {
  padding: 5px;
}
