@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/gill-sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'gill sans', 'Fira Sans', Arial, Helvetica, sans-serif;
  background-color: rgb(235, 76, 137);
}

.header {
  font-size: 12px;
}